body {
    background: #051D3B;
    font-family: 'Inter', sans-serif;
}

.cabecalho-principal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1376px;
    height: 56px;
    padding: 32px 32px 40px;
}

.logo {
    width: 145px;
    height: 34.05px;
    margin-right: 167px;
}

.input-padrao{
    width: 256px;
    height: 54px;
    font-size:16px;
    padding-left: 14px;
    border-radius:8px;
    color:#FFFFFF;
    border:none;
    background: rgba(255, 255, 255, 0.16);
}

.input-padrao:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.container .input-search {
    width: 752px;
    height: 56px;
    padding: 16px 0 16px 14px;
}

.imagem-author {
    width: 106px;
    height: 56px;
    margin-left: 206px;
    border-radius: 8px;
}

.principal .container {
    display: flex;
    width: 1376px;
}

.menu-navegacao {
    width: 189px;
    height: 146px;
    margin-right: 123px;
}

.menu-navegacao li {
    margin-bottom: 16px;
}

.subtitulo {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.menu-navegacao .subtitulo-menu{
    width: 51px;
    height: 18px;
    display: inline-block;
}

.menu-navegacao li {
    margin-top: 16px;
}

.menu-navegacao .link-menu {
    margin-left: 16px;
}

.img-menu {
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 16px;
    display: inline-block;
    background: #5081FB;
}

.img-menu img {
    margin-top: 16px;
}

.link-menu {
    color: #FFFFFF;
    font-size: 15.5px;
    line-height: 24px;
    text-decoration: none;
}

.code-editor-personalizacao {
    width: 752px;
    height: 366px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #6BD1FF;
}

.code-editor {
    width: 688px;
    height: 302px;
    border-radius: 8px;
    background: #141414;
}

.mac-buttons {
    width: 52px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    margin: 16px 0 12px 16px;
}

.textarea{
    resize: none;
}

.campo-codigo {
    width: 652px;
    font-size: 14px;
    height: 230px;
    resize: none;
    border:none;
    margin: 12px 16px 16px 16px;
    background: #141414;
    overflow: hidden;
    color:#FFFFFF;
    line-height: 16.5px;
}

.botao-visualizar-highlight {
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background: #5081FB14;
    color: #FFFFFF;
    margin-top: 32px;
    font-size: 16px;
    border: none;
}

.projeto{
    width: 272px;
    height: 185px;
    margin-left: 40px;
}

#label-projeto{
    display: inline-block;
    letter-spacing: 0.3em;
    width: 130px;
    height: 18px;
}

.projeto .input-padrao{
    margin-top:16px;
}

.projeto .input-descricao{
    height: 62px;
    padding-top: 16px;
    resize:none;
}

.personalizacao{
    height: 166px;
    width: 272px;
    margin: 40px 0 0 40px;
}

.personalizacao .input-padrao{
    background: rgba(255, 255, 255, 0.16);
    color:gray;
}