body {
    background: #051D3B;
    font-family: 'Inter', sans-serif;
}

.cabecalho-principal {
    padding: 20px 0;
}

.cabecalho-principal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 94%;
    margin: 0 auto;
}

.cabecalho-titulo {
    width: 145px;
    height: 34.05px;
    top: 12px;
}

.input-search {
    width: 752px;
    height: 56px;
    border: none;
    padding: 0 14px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
}

.input-search:focus {
    outline: 0;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.imagem-author {
    width: 106px;
    height: 56px;
    left: 1270px;
    border-radius: 8px;
    padding: 12px;
}

.principal {
    margin: 20px 0;
}

.menu-navegacao {
    width: 189px;
    height: 146px;
    display: inline-block;
}

.menu-navegacao li {
    margin-bottom: 1em;
}

.subtitulo {
    width: 51px;
    height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0 0 1em 0;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.img-menu {
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 16px;
    display: inline-block;
    background: #5081FB;
}

.img-menu img {
    margin-top: 16px;
}

.link-menu {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}